.cardList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    color: white;
    text-align: center;
}

.description {
    text-transform: capitalize;
    font-size: 25px;
}

.temperatures {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.maxTemperature {
    color: gray;
}

.separator {
    width: 10px;
}